# Change XXXX by your idVendor's device!
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="XXX", RUN+="/usb_audio_control.sh start"
ACTION=="remove", SUBSYSTEMS=="usb", ATTRS{idVendor}=="XXX", RUN+="/usb_audio_control.sh stop"